body {
    width: 100%;
    height: auto;
    margin: 0%;
}



nav img {
    width: 70%;
    height: auto;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
/* ------------ Main ------------*/







/*------------- Footer ----------*/

footer {
    font-size: 0.5em;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

footer h4  {
    font-size: 2.5em;
    background-color: whitesmoke;
    text-align: center;
}

footer ul {
    margin-left: 0%;
}
footer li {
    list-style-type: none;
    font-size: 1.5em;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
    padding-right: 1.8em;
}

