/* ------ Font family ----- */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');

body {
    width: 100%;
    height: auto;
    margin: 0%;
}



nav img {
    width: 70%;
    height: auto;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
/* ------------ Main ------------*/

h1{
    font-family: 'Libre Bodoni', serif;
    font-size: 1.2em;
    padding-top: 0.7em;
    padding-bottom: 0%;
}

h2 {
    font-family: 'Libre Bodoni', serif;
    color: whitesmoke;
    font-size: 2em;
}

main p {
    
    color: whitesmoke;
    padding-top: 15%;
    font-family: 'Libre Bodoni', serif;
    font-size: 1.2em;
}

.carou {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20%;
    border-radius: 10%;
}




/*------------- Footer ----------*/

footer {
    font-size: 0.5em;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

footer h4  {
    font-size: 2.5em;
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Libre Bodoni', serif;
    padding-bottom: 0.5em;
    padding-top: 0.3em;
}

footer ul {
    margin-left: 0%;
}
footer li {
    list-style-type: none;
    font-size: 1.5em;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
    padding-right: 1.8em;
}

