/*********************************************************************************************************** INTRO ***************************************************************************************************************/
*{
    margin:0;
    padding:0;
  }
  .intro {
    background: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .box {
    border-radius: 20px;
    width: 160px;
    height: 160px;
    background: #ffffff;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
    animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s alternate;
    animation-fill-mode: forwards;
  }

  @keyframes anime {
    0% {
      width: 60px;
      height: 60px;
      background: #f0f0f0;
      box-shadow:  0 0 0 #cccccc,
                   0 0 0 #ffffff,
                    10px 10px 10px #cccccc inset,
                    -10px -10px 10px #ffffff inset;
    }
    25% {
      width: 60px;
      height: 60px;
      background: #f8f8f8;
      box-shadow:  10px 10px 10px #cccccc,
                   10px 10px 10px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    50% {
      width: 60px;
      height: 140px;
      background: #f8f8f8;
      box-shadow:  10px 10px 10px #cccccc,
                   10px 10px 10px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    100% {
      width: 100%;
      height: auto;
      background: #fafafa;
      box-shadow:  40px 40px 40px #cccccc,
                   0 0 0 #ffffff,
                   0 0 0 #cccccc inset,
                   2px 2px 2px #ffffff inset;
    }
}


@media (min-width : 768px){
    
    @keyframes anime {
        0% {
            width: 160px;
            height: 160px;
            background: #f0f0f0;
            box-shadow:  0 0 0 #cccccc,
            0 0 0 #ffffff,
                        10px 10px 10px #cccccc inset,
                        -10px -10px 10px #ffffff inset;
                    }
                    25% {
                        width: 160px;
                        height: 160px;
                        background: #f8f8f8;
                        box-shadow:  10px 10px 10px #cccccc,
                        10px 10px 10px #ffffff,
                        0 0 0 #cccccc inset,
                        0 0 0 #ffffff inset;
                    }
                    50% {
                        width: 160px;
                        height: 240px;
          background: #f8f8f8;
          box-shadow:  10px 10px 10px #cccccc,
          10px 10px 10px #ffffff,
          0 0 0 #cccccc inset,
          0 0 0 #ffffff inset;
        }
        100% {
            width: 580px;
            height: 340px;
            background: #fafafa;
            box-shadow:  40px 40px 40px #cccccc,
            0 0 0 #ffffff,
            0 0 0 #cccccc inset,
            2px 2px 2px #ffffff inset;
        }
    }
}
/*********************************************************************************************************** INTRO ***************************************************************************************************************/
.card{
    color: white;
    height: auto;
    border-right-style: none;
    border-left-style: none;
    border-radius: 0;
}
.card-header{
    background-color: #08c16b;
}

.card-body{
    color: darkgrey;
}

.card-body h4{
    text-align: center;
}
.card-body > h2{
    color: black;
    font-size: 2.5rem;

}

 .models-box{
     background-size: cover;
     width: 100%;
     max-width: 1000px;
     height: 400px;
     color: #ffffff;
     align-items: center;
     margin-bottom: 0.5px;
    }
    
.citadine{
    background-image: url(./img/208.jpg);
    background-position: 25% 35%;
 }

 .break{
    background-image: url(./img/berline.jpg);
    background-position: 25% 35%;
 }

 .van{
    background-image: url(./img/rifter.jpg);
    background-position: 25% 35%;
 }

 a.citadine,
 a.break,
 a.van {
    text-decoration: none;
 }

 .prices{
     align-items: center;
 }

 .prestations{
    width: 100%;
    max-width: 1000px;
 }

 .details{
     width: 70%;
 }

.reviews{
    background-color: #68d8a4;
    width: 250px;
    min-height: 150px;
    height: auto;
    border-radius: 20px;
}

.customer-pics{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    top: 30px;
    left: 95px;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: auto;
}

.container{
    border-bottom: 3px solid darkgrey;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}


div.quotes > svg{
    width: 20%;
}

div.quotes > p{
    width: 80%;
}

.comment-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
}

.comment-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid lightgreen;
    border-bottom: 1px solid lightgreen;
}

.comment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border: 1px solid #08c16b;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.environement-box{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border: #08c16b 2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(190, 189, 189);
    align-items: center;
}
